run = "npm run build && NODE_ENV=production node dist/index.js"
modules = ["nodejs-20"]

[nix]
channel = "stable-20_05"
packages = [
  "nodejs-16_x",
  "lsof"
]

[[ports]]
localPort = 5000
externalPort = 80
